@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Shadows+Into+Light&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  color: black;
}

body{
  overflow: hidden;
}

footer{
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 1rem;
}


.particles{
  overflow: hidden;
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

::-webkit-scrollbar {
  height: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #4c74ac;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
  background: #2e5181;
}