@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Shadows+Into+Light&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  color: black;
}

footer{
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 1rem;
}

.particles{
  overflow: hidden;
  position: absolute;
  width: 100vw;
  height: 100vh;
}