@keyframes load {
  0%{
    transform: translate(-50px,-50px) scale(0);
  }
  35%{
    transform: translate(-50px,-50px) scale(50);
  }
  100%{
    transform: translate(-50px,-50px) scale(0);
  }
}

.loader {
  width: 100px;
  height: 100px;
  background: white;
  position: absolute;
  border-radius: 100%;
  animation: load 2s ease-in-out forwards;
}